@use "src/styles/utils" as *;

@mixin grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 4px;
}

.container {
  .summary{
  display: flex;
  flex: 1;
  .title{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 13px;
  }  
  }

  svg {
    display: flex;
    flex: 1;
    width: 100%;
    color: rgb($info-dark, 0.9);
    align-items: center;
  }
  .item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb($text-secondary, .07);
    padding: 16px 9% 0px 10%;
    border-radius:spacing(2);
    span{
        font-size: 13px;
    }
  }
}
