.container {
    display: flex;
    flex: 1;
    height: 100vh;
    // width: 100%;
    // overflow-y: auto;
    // scroll-snap-type: y mandatory;
    // scroll-behavior: smooth;
    // -webkit-overflow-scrolling: touch;
    // overflow: hidden;
    // border: 3px solid red;
    

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 1);
        border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
    }

    // overflow-x: hidden;
    // overflow: hidden;
}

.container>* {
    height: 100vh;
    scroll-snap-align: start;
}