@use "src/styles/utils" as *;

:root {
  --imdb-color-code: 255, 165, 0;
  --imdb-color: rgba(255, 165, 0, 0.7);
}

.container {
  position: relative;
  background: #000;
  display: flex;
  flex-direction: column;
  flex: 1;
  // border: 1px solid red;
  overflow: hidden;

  @include Tablet {
    height: calc(100vh - 55px);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    box-shadow:
      rgba(89, 79, 63, 1) 0px 5px 10px -3px,
      rgb(89, 79, 63) 0px 4px 6px -2px;
    z-index: 2;

    @include Tablet {
      padding: 2px 15px;
    }

    .backIcon {
      cursor: pointer;
      color: white;
    }

    .logo {
      display: flex;
      // gap: 10px;
      align-items: center;

      .hamburger {
        // z-index: ;
        background: rgba(0, 0, 0, 0.7);
        color: white;
        border: none;
        font-size: 25px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
      }

      .hamburger:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }

  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 400px;
    height: 100%;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: all 0.6s ease;
    z-index: 54;
    box-shadow:
      rgba(89, 79, 63, 1) 0px 5px 10px -3px,
      rgb(89, 79, 63) 0px 4px 6px -2px;
    display: flex;
    justify-content: space-between;

    @include Mobile {
      width: 100%;
    }

    &.open {
      right: 0;
    }

    &Container {
      display: flex;
      flex-direction: column;
      flex: 1;

      .menuHeader {
        padding-bottom: 10px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        box-shadow:
          rgba(89, 79, 63, 1) 0px 5px 10px -3px,
          rgb(89, 79, 63) 0px 4px 6px -2px;

        .title {
          flex: 1;
          display: flex;
          align-items: start;
          font-weight: bold;
        }
        .closeIcon {
          color: whitesmoke;
          font-size: 25px;
          width: 40px;
          height: 40px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s;
        }
      }

      .content {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        flex: 1;
        gap: 10px;

        // border: 1px solid red;
        .menuItem {
          color: whitesmoke;
          cursor: pointer;
          padding: 10px 15px;
          border-radius: 20px;
          transition: background-color 0.2s;
          // border-top: 1px solid rgba( var(--imdb-color-code),.5);
          // border-right: 1px solid rgba( var(--imdb-color-code),.5);
          background-color: rgba(white, 0.2);
          // border: 1px solid rgba( var(--imdb-color-code),.5);

          &:hover {
            background-color: rgba(var(--imdb-color-code), 0.7);
            // color: white;
          }
        }
        .isSelect {
          background-color: var(--imdb-color);
          // border-left: 3px solid whitesmoke;
          // border-right: 3px solid whitesmoke;
        }
      }
    }
    .filterBtn {
      text-transform: none;
      border-radius: 10px;
      background-color: var(--imdb-color);
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: black;
    // border: 3px solid red;

    &::-webkit-scrollbar {
      display: none;
    }

    .cards {
      display: flex;
      flex: 1;
      scroll-behavior: smooth;
      padding: 10px;

      &::-webkit-scrollbar {
        display: none;
      }
       .notFound {
        // border:1px solid red;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        gap: 10px;
        opacity: 0.8;
      }


      .cardItem {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // min-height: 280px;
        max-height: 270px;
        // max-height: 300px;
        color: whitesmoke;
        background-color: rgba(white, 0.15);
        padding: 7px;
        border-radius: 10px;
        overflow: hidden;
        // white-space: nowrap;

        @include Mobile {
          max-height: 250px;
        }

        img {
          flex: 1;
        }

        cursor: pointer;
        &::-webkit-scrollbar {
          display: none;
        }

        .cardHeader {
          display: flex;
          flex-direction: column;

          span[data-span] {
            width: 100%;
            // border: 1px solid red;
            display: inline-block;
            justify-content: center;
            align-items: center;
            padding: 10px 0 0 0;
            white-space: nowrap;
            overflow: visible;
          }
        }

        .showAnimation {
          animation: marquee-desktop 8s linear infinite;
          &:hover {
            animation-play-state: paused;
          }
          @include Mobile {
            animation: marquee-mobile 8s linear infinite;
          }
        }

        @keyframes marquee-desktop {
          from {
            transform: translateX(10%);
          }
          to {
            transform: translateX(-100%);
          }
        }

        @keyframes marquee-mobile {
          from {
            transform: translateX(10%);
          }
          to {
            transform: translateX(-100%);
          }
        }

        span {
          padding-top: 5px;
          color: rgba(white, 0.87);
          font-size: 18px;
          // font-weight: bold;
          // max-width: 250px;
          text-overflow: ellipsis;
          overflow: hidden;

          @include Mobile {
            // color: red;
            font-size: 10px;
          }

          @include Tablet {
            font-size: 11px;
          }
        }
      }

      img {
        border-radius: 10px;
        min-height: 180px;
        max-height: 180px;
        object-fit: fill;
        object-position: center;
      }

      div[data-divider] {
        display: flex;
        align-items: start;
        border: 1px solid rgba(116, 116, 116, 0.473);
        height: 17px;
      }

      .info {
        display: flex;
        justify-content: space-between;

        @include Mobile {
          div[data-divider] {
            display: none;
          }

          // span:first-child {
          //   display: none;
          // }
        }
       
        span {
          display: flex;
          gap: 5px;
          align-items: center;
          // border: 1px solid red;
          font-size: 16px;
          color: rgba(white, 0.6);

          @include Tablet {
            font-size: 10px;
          }
        }

        div[data-imdb] {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 8px;
          border-radius: 10px;
          letter-spacing: 1px;
          background-color: rgba(orange, 0.7);

          span {
            padding: 0;
            display: flex;
            color: rgb(0, 0, 0);
            font-size: 13px;
          }

          span:first-child {
            font-weight: bold;
            font-size: 14;
          }

          span:last-child {
            letter-spacing: 0px;
          }

          @include Mobile {
            span {
              letter-spacing: 0px;
            }
          }

          @include Tablet {
            span {
              // border: 1px solid red;
              font-size: 8px !important;
            }
          }
        }
      }
    }
  }
}
