@use "src/styles/utils" as *;

.panel {
    // border: 3px solid rgb(23, 232, 232);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1;
    gap: 10px;
    padding-top: 5px;

    .widget {
        color: rgb($text-primary);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        // font-size: 20px;
        // gap: 2px;
        // flex: 1;
        // border: 1px solid red;

        img {
            transition: opacity 0.3s ease-in-out;
            opacity: .5;
        }

        img[data-plate-opacity="true"] {
            animation: opacityImage 2s ease-in-out infinite;
        }

        img[data-face-opacity=true] {
            animation: opacityImage 2s infinite;
        }

        &-value {
            // font-size: 15px;
            // border: 1px solid rgb(123, 196, 39);
            font-weight: bold;
        }
    }
}

@keyframes opacityImage {
    from {
        opacity: 1;
    }

    to {
        opacity: .5;
    }
}