// This file contains all color variables like primary, error, success and ...
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------

// main color that is used for primary color in theme
$main: (
  50: #E7F4FB,
  100: #B6DEF3,
  200: #85C7EB,
  300: #53B0E2,
  400: #229ADA,
  500: #0A8FD6,
  600: #0E78B1,
  700: #13638D,
  800: #1A4257,
  900: #1C3745,
);

$gray: (
  50: #F3F3F3,
  100: #E9E9E9,
  200: #DEDEDE,
  300: #D2D2D2,
  400: #C7C7C7,
  500: #BDBDBD,
  600: #B1B1B1,
  700: #A6A6A6,
  800: #9B9B9B,
  900: #909090,
);

$dark-gray: (
  50: #858585,
  100: #7A7A7A,
  200: #6F6F6F,
  300: #646464,
  400: #585858,
  500: #4D4D4D,
  600: #424242,
  700: #383838,
  800: #2C2C2C,
  900: #212121,
);

$red: (
  50: #FEECEC,
  100: #FAC7C7,
  200: #F7A2A2,
  300: #F37C7C,
  400: #F05757,
  500: #EF4444,
  600: #C53C3C,
  700: #9C3535,
  800: #732E2E,
  900: #4A2727,
);

$yellow: (
  50: #FDF8E6,
  100: #F9E8B5,
  200: #F4D984,
  300: #F0CA52,
  400: #ECBA21,
  500: #EAB308,
  600: #C1950C,
  700: #997811,
  800: #715B17,
  900: #493E1B,
);

$green: (
  50: #E7F8F3,
  100: #B7EAD9,
  200: #88DCC0,
  300: #58CEA7,
  400: #28C08D,
  500: #10B981,
  600: #129A6D,
  700: #167C5A,
  800: #195D46,
  900: #1D3F34,
);

$blue: (
  50: #EBF3FE,
  100: #C5DAFC,
  200: #9DC0FA,
  300: #76A8F9,
  400: #4F8FF7,
  500: #3B82F6,
  600: #356ECB,
  700: #305BA1,
  800: #2B4775,
  900: #26344B,
);

$violet: (
  50: #F4EFFE,
  100: #DCCEFC,
  200: #C5AEFA,
  300: #AE8DF9,
  400: #976DF7,
  500: #C1950C,
  600: #7550CB,
  700: #6144A1,
  800: #4A3875,
  900: #362C4B,
);

$rose: (
  50: #FEECEF,
  100: #FBC6CF,
  200: #F99FAF,
  300: #F8798F,
  400: #F5536E,
  500: #F43F5E,
  600: #C93851,
  700: #A03346,
  800: #742C38,
  900: #4B272D,
);

$cyan: (
  50: #E7F8FB,
  100: #B5E9F2,
  200: #83DAE9,
  300: #51CCE1,
  400: #1FBED8,
  500: #06B6D4,
  600: #0B98B0,
  700: #117A8D,
  800: #155C67,
  900: #1B3E44,
);

$orange: (
  50: #FFEFE9,
  100: #FFCEBC,
  200: #FFAD8F,
  300: #FF8C63,
  400: #FF6B36,
  500: #FF5A1F,
  600: #D24E1F,
  700: #A64320,
  800: #79371F,
  900: #4D2C20,
);
