@use "src/styles/utils" as *;

.container {
  position: relative;
  background: #000;
  display: flex;
  flex: 1;
  flex-direction: column;

  @include Tablet {
    height: calc(100vh - 58px) !important;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 8px 20px;
    box-shadow:
      rgba(89, 79, 63, 1) 0px 5px 10px -3px,
      rgb(89, 79, 63) 0px 4px 6px -2px;
    z-index: 50;

    .backIcon {
      cursor: pointer;
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
    }

    @include Tablet {
      padding: 10px 15px;
    }
  }

  .main {
    display: flex;
    flex: 1;
    overflow: hidden;

    .musicList {
      position: absolute;
      width: 400px;
      right: 0;
      height: calc(100vh - 160px);
      background-color: rgb(rgb(255, 255, 255), 0.1);
      backdrop-filter: blur(5px);
      z-index: 1000;
      padding: 15px;
      border: 1px solid rgb(255, 255, 255, 0.2);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow: hidden;

      div[data-titlelist] {
        width: 100%;
        font-size: 25px;
        font-weight: bolder;
        font-family:
          "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        // border: 1px solid red;
        text-align: center;
      }
      .gradientTaperLine {
        width: 100%;
        max-width: 600px;
        height: 3px;
        // padding: 10px 0;
        margin: 0.8rem auto;
        position: relative;
        background: linear-gradient(
          90deg,
          transparent 0%,
          orange 20%,
          #ffffff 50%,
          orange 80%,
          transparent 100%
        );
        border-radius: 50%;
        box-shadow:
          0 1px 12px rgba(255, 255, 255, 0.6),
          0 -1px 8px rgba(255, 255, 255, 0.3);

        // اختیاری: انیمیشن ظریف
        animation: shine 4s linear infinite;

        @keyframes shine {
          0% {
            opacity: 0.85;
          }
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0.85;
          }
        }

        &.thin {
          height: 2px;
        }
        &.medium {
          height: 3px;
        }
        &.thick {
          height: 5px;
        }

        // عرض‌های مختلف
        &.w-full {
          width: 100%;
          max-width: none;
        }
        &.w-90 {
          width: 90%;
        }
        &.w-70 {
          width: 70%;
        }
      }
      .musics {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 8px;
        overflow-y: auto;
        .item {
          display: flex;
          align-items: center;
          border: 1px solid rgba(236, 234, 234, 0.295);
          cursor: pointer;
          flex-shrink: 0;
          border-radius: 25px;
          padding: 5px 15px 5px 5px;
          span {
            flex: 1;
            font-size: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          &:hover {
            background-color: rgb(rgb(214, 214, 214), 0.2);
          }
        }
        .isSelected {
          background-color: rgb(rgb(214, 214, 214), 0.2);
        }
      }

  
      @include Tablet {
        // display: none;
        // top:27%;
        // width: 200px;
        // border: 5px solid red;
        height: calc(100vh - 200px);
        
        div[data-titlelist] {
          width: 100%;
          font-size: 12px;
          font-weight: bolder;
        }
      .musics {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 8px;
        overflow-y: auto;
        .item {
          display: flex;
          align-items: center;
          border: 1px solid rgba(236, 234, 234, 0.295);
          cursor: pointer;
          flex-shrink: 0;
          border-radius: 25px;
          padding: 0px 10px 0px 5px;
          span {
            flex: 1;
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          &:hover {
            background-color: rgb(rgb(214, 214, 214), 0.2);
          }
        }
        .isSelected {
          background-color: rgb(rgb(214, 214, 214), 0.2);
        }
      }
      }
      @include Mobile {
        // display: none;
        top:27%;
        // width: 200px;
        // border: 5px solid red;
        height: calc(100vh - 354px);

        div[data-titlelist] {
        width: 100%;
        font-size: 15px;
        font-weight: bolder;
      }
      .musics {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 8px;
        overflow-y: auto;
        .item {
          display: flex;
          align-items: center;
          border: 1px solid rgba(236, 234, 234, 0.295);
          cursor: pointer;
          flex-shrink: 0;
          border-radius: 25px;
          padding: 5px 15px 5px 5px;
          span {
            flex: 1;
            font-size: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          &:hover {
            background-color: rgb(rgb(214, 214, 214), 0.2);
          }
        }
        .isSelected {
          background-color: rgb(rgb(214, 214, 214), 0.2);
        }
      }
      }
    }

    .posterImage {
      position: relative;
      // flex: 2;
      flex: 1;
      width: 100vw;
      object-fit: fill;
      object-position: center;
    }

    .infoMovie {
      // border: 5px solid red;
      position: absolute;
      display: flex;
      flex: 1;
      justify-content: center;
      flex-direction: column;
      padding: 20px;
      min-width: 100vw !important;
      // height: 100%;
      height: calc(100vh - 50px);
      border-radius: 10px;
      background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);

      &.hiddenPoster {
        display: none;
      }

      .title {
        display: flex;
        flex-direction: column;

        span {
          font-size: 60px;
          font-weight: bold;
          color: #fff;
        }

        .description {
          width: 50%;
          font-size: 23px;
          font-weight: 100;
          color: rgba(whitesmoke, 0.8);
          word-wrap: break-word;
          overflow-wrap: break-word;
          text-align: justify;
        }
      }

      p {
        color: #ddd;
        font-size: 14px;
        // width: 300px;
        // max-width: 400px;
        line-height: 1.6;
      }

      .more {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .imdb {
          display: flex;
          span {
            display: flex;
            padding: 3px 10px;
            border-radius: 10px;
            background-color: rgba(orange, 0.7);
            color: rgb(32, 32, 32);
            font-size: 20px;
          }
        }

        .generList {
          display: flex;
          flex-wrap: wrap;
          gap: 8px;

          .lable {
            font-size: 21px;
            font-weight: bold;
            // border: 1px solid red;
          }

          .generItem {
            font-size: 18px;
            padding: 4px 12px;
            background: rgba(0, 0, 0, 0.6);
            border-radius: 20px;
            color: rgba(whitesmoke, 0.8);
          }
        }

        .actions {
          display: flex;
          gap: 12px;
          margin-top: 10px;

          .playBtn {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            background: rgba(89, 79, 63, 1);
            color: #fff;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s;
            border: 1px solid white;

            &:hover {
              border-color: #fff;
            }
          }
        }
      }

      @include Mobile {
        // border: 5px solid red;
        height: calc(100vh - 200px) !important;
        display: flex;
        padding: 5px 20px;
        justify-content: start;
        gap: 5px;
        flex-direction: column !important;
        // align-items: center !important;
        // justify-content: center;

        .title {
          display: flex;
          flex: none !important;
          padding: 0;
          // border: 1px solid red;

          span {
            font-size: 35px !important;
          }

          .description {
            // border: 1px solid red;
            font-weight: 250;
            color: rgba(white, 1) !important;
            width: 100%;
            font-size: 14px !important;
          }
        }

        .more {
          // border: 1px solid red;
          display: flex;
          // flex-direction: column;

          .imdb {
            span {
              font-size: 14px !important;
            }
          }

          .generList {
            .lable {
              font-size: 14px !important;
            }
          }

          .generItem {
            font-size: 14px !important;
          }
        }
      }

      @include Tablet {
        height: calc(100vh - 200px);
        display: flex;
        padding: 0 10px;

        .title {
          display: flex;
          // flex: 1;

          // border: 1px solid yellow;
          span {
            font-size: 20px !important;
          }

          .description {
            font-weight: 250;
            color: rgba(white, 1) !important;
            width: 100%;
            font-size: 14px !important;
          }
        }

        .more {
          .imdb {
            span {
              font-size: 14px !important;
            }
          }

          .generList {
            .lable {
              font-size: 14px !important;
            }
          }

          .actions {
            .playBtn {
              width: 45px;
              height: 45px;
            }
          }

          .generItem {
            font-size: 14px !important;
          }
        }
      }
    }
  }
  .player {
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 100;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    display: block;
  }
}
