.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    font-size: 3rem;
    color: white;
    background-color: #271d959b;

    .gridContainer{
        display: grid;
        grid-template-columns:200px 200px 200px 200px;
        grid-template-rows: 200px 200px;
        grid-auto-flow: column;
        gap: 0.5rem;

        .item{
        //    padding: 3px;
           background-color: chartreuse;
           color: wheat;
           text-align: center;
           justify-content: center;
           border-radius: 8px;
           font-size: 1.5rem;
        }
    }

}